<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Inscrição para Campeonato de Games</h2>

    <form method="POST">

        <label>Nickname:</label><br>
        <input type="text" name="nickname"><br><br>

        <label>Jogo:</label><br>
        <input type="text" name="jogo"><br><br>

        <label>E-mail:</label><br>
        <input type="text" name="email"><br><br>

        <button type="submit">Cadastrar</button>

    </form>

    <p>{{ mensagem }}</p>

</body>
</html>